<div class="row">
  <div class="col-auto">
    <h2>Grape! You're logged in, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Enter a New Bottle:</h3>

    <form class="form new-bottle-form">
      <div class="form-group">
        <label for="bottle-name">Name of Wine:</label>
        <input
          class="form-input"
          type="text"
          id="bottle-name"
          name="bottle-name"
        />
      </div>
      <div class="form-group">
        <label for="bottle-maker">Maker:</label>
        <input
          class="form-input"
          type="text"
          id="bottle-maker"
          name="bottle-maker"
        />
      </div>
      <div class="form-group">
        <label for="bottle-grape">Grape:</label>
        <input
          class="form-input"
          type="text"
          id="bottle-grape"
          name="bottle-grape"
        />
      </div>
      <div class="form-group">
        <label for="bottle-vintage">Vintage Date:</label>
        <input
          class="form-input"
          type="text"
          id="bottle-vintage"
          name="bottle-vintage"
        />
      </div>
      <div class="form-group">
        <label for="bottle-abv">ABV:</label>
        <input
          class="form-input"
          type="text"
          id="bottle-abv"
          name="bottle-abv"
        />
      </div>
      <div class="form-group">
        <label for="bottle-rating">Would You Purchase Again?:</label>
        <input
          class="form-input"
          type="text"
          id="bottle-rating"
          name="bottle-rating"
        />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if bottles.length}}
    <div class="col-md-6 bottle-list">
      <h3>Your Wine Cellar:</h3>

      {{#each bottles as |bottle|}}
        <div class="row mb-2">
          <div class="col-md-8">
            <h4><a href="/bottles/{{bottle.id}}">{{bottle.name}}</a></h4>
          </div>
          <div class="col-md-4">
            <button
              class="btn btn-sm btn-danger"
              data-id="{{bottle.id}}"
            >DELETE</button>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>